@import url('https://fonts.googleapis.com/css2?family=Amiri&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;700&display=swap');

:root {
    --secondary-color: #202326
}

.surah {
    position: relative;
    color: rgb(230, 229, 229);
    font-size: 25px;
    width: 1fr;
    font-family: "Cairo", sans-serif;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    background-color: #31363c;
    border-radius: 10px;
    padding: 10px 10px;

}

#read-btn {
    cursor: pointer;
    position: absolute;
    right: 5%;
    font-size: 30px;
    background: transparent;
    border: none;
    display: none;
}
.surah:hover #read-btn{
    display: inline;
}
.surah:hover {
    background-color: #31363c56;

}